#header-bar {
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, #47C9A2 30%, #2196F3 100%) 100% no-repeat;
  height: 15px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
}

#container {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
}

#profile {
  text-align: center;
  padding-top: 20px;
}

#projects-box {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: strech;
  justify-content: center;
}

.project {
  margin: 10px;
  max-width: 320px;
  cursor: pointer;
}

.text, h1 {
  font-family: "Consolas", "Calibri";
  font-size: 14px;
  margin: 4px;
  color: rgba(0, 0, 0, 0.65);
}

h1 {
  font-size: 30px;
  margin: 2;
  text-align: center;
}

a {
  color: #47C9A2 !important;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.photo {
    border: 8px solid #47C9A2;
}
